%h1
  This trial has expired. If you would like to see it or continue to use it, please contact me at ScriptLance regarding
  %a{:href => 'http://www.scriptlance.com/projects/1286903808.shtml'} this project.
  My username is ningj. Thank you.

%img{:src => 'screenshot.png', :alt => 'example'}
