!!!
%html
  %head
    %title Cost Analysis Calculator
    %meta{:charset => 'UTF-8'}
    %link{:href => timestamped_stylesheet_url, :rel => 'stylesheet', :media => 'all'}
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18271742-4']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body.centered
    = yield
