!!!
%html
  %head
    %title Cost Analysis Calculator
    %meta{:charset => 'UTF-8'}
    %link{:href => timestamped_stylesheet_url, :rel => 'stylesheet', :media => 'all'}
  %body.centered
    = yield
